[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
hypercorn = "*"
decorator = "*"
brotlipy = "*"
Flask = "*"
meinheld = "*"
werkzeug = ">=0.14.1"
six = "*"
flasgger = "*"
sse = "*"

[dev-packages]
rope = "*"

[packages.pyyaml]
git = "https://github.com/yaml/pyyaml.git"
